.code-dev{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9rem;
    font-weight: 800;
}

#menu-lateral .nav-link{
    margin: 1px 0;
}
#menu-lateral .nav-link:hover{
    background-color: #0d479c;
}
#lateral-menu{
    z-index: 99;

}
.badge{
    position: absolute;
    bottom: 10px;
}
#button-alert-main{
    float: right;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
    border-radius: 360px;
    width: 50px;
    height: 50px;
    font-size: 18px;
}
#button-alert-main span{
    position: absolute;
    top: 40px;
    height: 20px;
    right: 30px;
    font-size: 10px;
}

#btnShopee #button-shopee{
    background-color: #ee4d2d;
}
#btnElo7 #button-Elo7{
    background-color: #a16ef3;
}

#button-shopee,
#button-whatsapp,
#button-Elo7{
    float: right;
    position: fixed;
    right: 10px;
    z-index: 9999;
    border-radius: 360px;
    font-size: 23px;
}
#button-whatsapp{
    width: 50px;
    height: 50px;
}
#button-shopee,
#button-Elo7{
    width: 80px;
    height: 80px;
    transition: all 0.2s ease;
}
#button-shopee:hover,
#button-Elo7:hover{
    transform: scale(1.1);
}

#button-shopee{
    bottom: 100px;
}
#button-Elo7{
    bottom: 10px;
}

#button-whatsapp{
    top: 10px;
    right: 70px;
}
#cards-inicial-index .card-principal,
#cards-inicial-insumos .card-principal,
#cards-inicial-produtos .card-principal,
#cards-inicial-vendas .card-principal{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 105%;
}
.cards-inicial{
    margin-left: 300px;
    width: 99%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.card.card-resultado-resumoinicial{
    border: none;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    border: 1px solid transparent;
}
.card.card-resultado-resumoinicial:hover{
    background-color: #f8f9fa;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid lightgray;
}
.title-main{
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 3px 5px;
}
#title-brand,
#subtitulo-brand{
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}
#title-brand{
    font-size: 25px;
}
#subtitulo-brand{
    font-size: 11px;
    padding-top: 2%;
}

/*-----------------------------VENDAS--------------------------------------*/
#cardResumoVendas{
    height: 28vh;
}

#selectFiltroResumoVendas .bg-orange,
#bodyTabelaVendasFiltro .bg-shopee,
#bodyTabelaVendas .bg-shopee{
    background-color: rgb(252, 167, 9);
}
#selectFiltroResumoVendas .bg-orange,
#bodyTabelaVendasFiltro .bg-shopee,
#bodyTabelaVendas .bg-shopee,
#bodyTabelaVendasFiltro .bg-elo,
#bodyTabelaVendas .bg-elo
.color-white,
#bodyTabelaVendas .bg-elo7 {
    color: white;
}
#bodyTabelaVendasFiltro .bg-shopee,
#bodyTabelaVendas .bg-shopee,
#bodyTabelaVendasFiltro .bg-elo,
#bodyTabelaVendas .bg-elo,
#bodyTabelaVendas .bg-elo7{
    font-size: 0.8rem;
    font-weight: 600;
}
#bodyTabelaVendasFiltro .bg-elo,
#bodyTabelaVendas .bg-elo,
#bodyTabelaVendas .bg-elo7 {
    background: rgb(214, 150, 214);
}
.modal-backdrop.show {
    background-color: rgba(0, 0, 0, 0.8); /* mais escuro */
}
#resumo_vendas label,
#campoPesquisarVenda label,
#modalBodyCadastroManualVenda label,
#relacaoProdutos .titulo_col,
#modalBodyCalculoProduto label,
#cardCadastroProdutos .titulo_col,
#cardResumoInsumos label,
#modalCalculoProduto label,
#modalBodyCadastroInsumo label,
.label-format{
    display: flex;
    justify-content:center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.75rem;
}
#cardCadastroProdutos .titulo_col{
    margin-bottom: 0.5rem;
}
#pagina_lateral label,
#modalBodyCadastroInsumo label,
#cardResumoVendas label{
    margin-bottom: 0.5rem;
}
#pagina_lateral{
    margin-bottom: 1rem;
}

#colCollapseCadastroVenda{
    cursor: pointer;
}

#bodyTabelaVendas tr{
    font-size: 0.9rem;
    margin: auto;
    margin-top: auto;
}
/* Cor de fundo vermelho suave para vendas atrasadas */
#bodyTabelaVendas .linha-atrasada td:not([class*="bg-"]) {
    background-color: #fcacb2; /* vermelho suave */
}
#bodyTabelaVendas .linha-enviado td:not([class*="bg-"]) {
    background-color: #c0ffb4; /* vermelho suave */
}

#bodyTabelaVendas td,
#bodyTabelaVendas th {
    text-align: center;       /* centraliza horizontalmente */
    vertical-align: middle;   /* centraliza verticalmente */
}
#btnsCodigoDev .btn-purple{
    background-color: #5a23c7;
    color: white;
}

.accordion-header > div {
  padding-right: 1rem; /* distancia da borda direita */
}