.code-dev{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9rem;
    font-weight: 800;
}
#menu-lateral .nav-link{
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
#menu-lateral .nav-link:hover{
    background-color: #0d479c;
    font-weight: bold;
}
#lateral-menu{
    z-index: 99;
}
.badge{
    position: absolute;
    bottom: 10px;
}
#buttonTime{
    position: absolute;
    top: 2.5%;
    left: 80%;
    z-index: 10;
    height: 40px;
    min-width: 15%;
    border-radius: 30px;
}

#button-alert-main{
    float: right;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
    border-radius: 360px;
    width: 50px;
    height: 50px;
    font-size: 18px;
}
#button-alert-main span{
    position: absolute;
    top: 40px;
    height: 20px;
    right: 30px;
    font-size: 10px;
}

#btnShopee #button-shopee,
#linhaCadastroProdutoShopee .bg-Shopee{
    background-color: #ee4d2d;
}
#btnElo7 #button-Elo7,
#linhaCadastroProdutoElo7 .bg-Elo7{
    background-color: #a16ef3;
}

#campoExibicaoCadastroCapas .btn-color{
        background-color: #926ef3;
}
#button-shopee,
#button-whatsapp,
#button-Elo7,
#btnFemininoCapas #buttonCapasFemininas,
#btnMasculinoCapas #buttonCapasMasculinas{
    float: right;
    position: fixed;
    right: 10px;
    z-index: 9999;
    border-radius: 360px;
    font-size: 23px;
}
#button-whatsapp{
    width: 50px;
    height: 50px;
}
#button-shopee,
#button-Elo7{
    width: 80px;
    height: 80px;
    transition: all 0.2s ease;
}
#button-shopee:hover,
#button-Elo7:hover{
    transform: scale(1.1);
}
#btnFemininoCapas #buttonCapasFemininas{
    background-color: rgb(255, 124, 146);
}
#btnMasculinoCapas #buttonCapasMasculinas{
    background-color: rgb(124, 159, 255);
}
#btnFemininoCapas #buttonCapasFemininas,
#btnMasculinoCapas #buttonCapasMasculinas{
    font-size: 1rem;
    top: 17px;
}

#button-shopee{
    bottom: 100px;
}
#button-Elo7{
    bottom: 10px;
}

#button-whatsapp{
    top: 10px;
    right: 70px;
}
#btnFemininoCapas #buttonCapasFemininas{
    right: 400px;
}
#btnMasculinoCapas #buttonCapasMasculinas{
    right: 200px;
}

#cards-inicial-index .card-principal,
#cards-inicial-insumos .card-principal,
#cards-inicial-produtos .card-principal,
#cards-inicial-vendas .card-principal,
#btnFemininoCapas #buttonCapasFemininas,
#btnMasculinoCapas #buttonCapasMasculinas,
#button-Elo7,
#button-shopee,
#button-whatsapp,
#button-alert-main{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#cards-inicial-index .card-principal,
#cards-inicial-insumos .card-principal,
#cards-inicial-produtos .card-principal,
#cards-inicial-vendas .card-principal{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
}
.cards-inicial{
    margin-left: 300px;
    width: 99%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card.card-resultado-resumoinicial{
    border: none;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    border: 1px solid transparent;
}
.card.card-resultado-resumoinicial:hover{
    background-color: #f8f9fa;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid lightgray;
}
.title-main{
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 3px 5px;
    color: rgba(220, 52, 69, 1);
}

#title-brand,
#subtitulo-brand{
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}
#title-brand{
    font-size: 25px;
}
#subtitulo-brand{
    font-size: 11px;
    padding-top: 2%;
}

/*-----------------------------VENDAS--------------------------------------*/
#cardResumoVendas{
    height: 28vh;
}

#selectFiltroResumoVendas .bg-orange,
#bodyTabelaVendasFiltro .bg-shopee,
#bodyTabelaVendas .bg-shopee{
    background-color: rgb(252, 167, 9);
}
#infoPrazoEntrega .btn-orange{
    background-color: rgb(255, 115, 0);
}

#selectFiltroResumoVendas .bg-orange,
#bodyTabelaVendasFiltro .bg-shopee,
#bodyTabelaVendas .bg-shopee,
#bodyTabelaVendasFiltro .bg-elo,
#bodyTabelaVendas .bg-elo
.color-white,
#bodyTabelaVendas .bg-elo7 {
    color: white;
}
#bodyTabelaVendasFiltro .bg-shopee,
#bodyTabelaVendas .bg-shopee,
#bodyTabelaVendasFiltro .bg-elo,
#bodyTabelaVendas .bg-elo,
#bodyTabelaVendas .bg-elo7{
    font-size: 0.8rem;
    font-weight: 600;
}
#bodyTabelaVendasFiltro .bg-elo,
#bodyTabelaVendas .bg-elo,
#bodyTabelaVendas .bg-elo7 {
    background: rgb(214, 150, 214);
}
.modal-backdrop.show {
    background-color: rgba(0, 0, 0, 0.8); /* mais escuro */
}
#resumo_vendas label,
#campoPesquisarVenda label,
#modalBodyCadastroManualVenda label,
#relacaoProdutos .titulo_col,
#modalBodyCalculoProduto label,
#cardCadastroProdutos .titulo_col,
#cardResumoInsumos label,
#modalCalculoProduto label,
#modalBodyCadastroInsumo label,
.label-format,
#btnInsereGit button{
    display: flex;
    justify-content:center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.75rem;
}
.uppercase{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
}

#pagina_lateral label,
#modalBodyCadastroInsumo label,
#cardResumoVendas label,
#cardCadastroProdutos .titulo_col{
    margin-bottom: 0.5rem;
}
#pagina_lateral{
    margin-bottom: 1rem;
}

#colCollapseCadastroVenda{
    cursor: pointer;
}

#bodyTabelaVendas tr{
    font-size: 0.9rem;
    margin: auto;
    margin-top: auto;
}
/* Cor de fundo vermelho suave para vendas atrasadas */
#bodyTabelaVendas .linha-atrasada td:not([class*="bg-"]) {
    background-color: #fcacb2; /* vermelho suave */
}
#bodyTabelaVendas .linha-enviado td:not([class*="bg-"]) {
    background-color: #c0ffb4; /* vermelho suave */
}

#bodyTabelaVendas td,
#bodyTabelaVendas th {
    text-align: center;       /* centraliza horizontalmente */
    vertical-align: middle;   /* centraliza verticalmente */
}
#btnsCodigoDev .btn-purple{
    background-color: #5a23c7;
    color: white;
}

.accordion-header > div {
  padding-right: 1rem; /* distancia da borda direita */
}

#exibicaoProdutosCadastrados input{
    font-size: 0.715rem;
}
#btnSubirUploadProdutoMassa{
    position: absolute;
    right: 20px;
    bottom: 10px;
    width: 60px;
    height: 60px;
    border-radius: 360px;
    font-size: 25px;
}

/*--------------------------------------------CLIENTES-------------------------------------------------------------*/
#btnClientes span{
    font-size: 0.793rem;
}
.fa-spinner {
    background: none !important;
    box-shadow: none !important;
}
#btnEditarFornecedor {
    margin-left: 10px; /* ajuste se quiser espaço */
}

#pagina-index,
#pagina-vendas,
#pagina-produtos,
#pagina-insumos,
#pagina-clientes,
#pagina-fornecedores,
#pagina-estoque,
#pagina-financeiro{
    overflow-x: hidden; /* remove scroll horizontal da página */
}

#pagina-insumos .container {
    margin-left: 280px; /* para respeitar menu lateral */
    max-width: calc(100% - 280px); /* garante que não ultrapasse a tela */
    width: 100%;
}

#pagina-insumos .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
#modalBodyCadastroManualVenda .bg-orange{
    background-color: #ee4d2d;
    color: white;
}
#tabelaCadastroVenda tr td input,
#tabelaCadastroVenda tr td select{
    font-size: 0.8rem;
}
#cardCadastroVenda .letra{
    font-size: 0.9rem;
}
#infoPrazoEntrega button{
    position: relative;
    top: -8px;
}
#infoPrazoEntrega button span{
    font-size: 0.7rem;
}
.plataformaShopee,
.plataformaElo7,
.statusProducao_Produção,
.statusProducao_Enviado,
.statusProducao_Cancelado{
    color: white;
    border-radius: 0px 30px 30px 0;
    position: relative;
    height: 30px;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.75rem;
    font-weight: 600;
}
.plataformaShopee,
.plataformaElo7{
    top: -17px;
    right: 5px;
}
.statusProducao_Produção,
.statusProducao_Enviado,
.statusProducao_Cancelado{
    top: -17px;
    right: -1%;
    border-radius: 30px;
    min-width: 400px;

}
.plataformaShopee{
    background-color: #ee4d2d;
}
.plataformaElo7{
    background-color: #5a23c7;
}
.plataformaElo7{
    background-color: #5a23c7;
}
.statusProducao_Produção{
    background-color: #246d28;
}
/*------------------------------------------------------*/
#nomeMesReferenciaReceita,
#nomeMesReferenciaDespesas{
    position: relative;
    top: -10px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    height: 30px;
    border-radius: 0 20px 20px 0;
}
.tdUppercase,
#receitasCasaTabelaThead th,
#despesasCasaTabelaThead th{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}
.tdUppercase{
    font-size: 0.73rem;
}
#receitasCasaTabelaThead th,
#despesasCasaTabelaThead th{
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 0.9rem;
}
#receitasCasaTabelaThead th{
    background-color: #1b8855;
}
#despesasCasaTabelaThead th{
    background-color: #881f1b;
}

#receitasCasaTabelaTBody .td-titulo{
    background-color: rgb(182, 248, 182); 
    font-weight: 700;
    border-bottom: 1px solid green;
    border-top: 1px solid green;
}
#despesasCasaTabelaTBody .td-titulo{
    background-color: rgb(248, 182, 182); 
    font-weight: 700;
    border-bottom: 1px solid #881f1b;
    border-top: 1px solid #881f1b;
}
#receitasCasaTabelaTBody td,
#receitasCasaTabelaTBody th,
#despesasCasaTabelaTBody td,
#despesasCasaTabelaTBody th,
#totalFinalFinanceiroMensal th,
#totalFinalFinanceiroMensal td{
    text-align: center;
    vertical-align: middle;
}
#totalFinalFinanceiroMensal .colRefereMes{
    border-radius: 20px;
    height: 35px;
    max-width: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*----------------------------------------------------------*/
.texto-limitado {
    max-width: 300px; /* ajuste conforme seu layout */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.linha-hover-lista-insumos-categorias:hover,
.linha-hover-lista-produtos-categorias:hover{
    background-color: rgb(190, 231, 245);
    font-weight: bold;
}